<h3>Food Database</h3>

<a href="/foods/new">Add a new food item to the database:</a>

<%# Implement a search bar? %>
<ul>
  <% @foods.each do |food| %>
    <li>
      <a href="/foods/<%= food.id %>"><%= food.name %></a>
    </li>
  <% end %>
</ul>
