<h1>Mini Diet Tracker</h1>

<h4><%= @date %></h4>

<ul>
  <% @meals.each do |meal| %>
  <li>
    <%= "#{meal.memo} (#{meal.logged_at})" %>
    <%= "Calories: #{meal.calories} | Protein: #{meal.protein}"%>
    <%= meal.foods %>
  </li>
  <% end %>
</ul>
