<form action="/meals" method="post">
  <h2>Record a new meal:</h2>
  <div>
    <label for="memo">Memo:</label>
    <input type="text" name="memo" id="memo" 
      placeholder="Breakfast/Lunch/Dinner/etc." 
      value=<%= params[:memo]%>>
  </div>
  
  <div>
    <label for="logged_at">Date/Time:</label>
    <input type="datetime-local" name="logged_at" id="logged_at"
      value=<%= params[:logged_at] || now %>>
  </div>

  <button type="submit">Submit</button>
  <a href="/dashboard">Cancel</a>
</form>